@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 7, 10, 18;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    circle at 50% 0%,
    rgb(20, 30, 50) 0%,
    rgb(var(--background-start-rgb)) 80%
  );
  min-height: 100vh;
}
